body{
    color:#606060; 
 }
 p{
     font-size: 18px;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight:lighter; 
 }
 
 h2, h4,h3 { 
     font-family: 'Lato', sans-serif;
 }

 #p16{
     font-size: 16px;
 }

 .table{
     color:#606060;
 }
 
 #iconDiv{
     width:65px;
     height: 93px;
     text-align: center;
 }
 
 #menuIcon, #natureIcon{
     width: 65px;
     height: 93px;
 }

#toggle-button:focus{
    border: none!important;
    }
 .sidebar{
     width:465px;
     z-index: 1;
 }
 
 
 .nav_name{
     width:400px;
     height: 93px;
     background-color: cadetblue;
 }
 
 .searchInput{
     width:465px;
     height: 92px;
 }
 
 .headerIcons{
     width:465px;
     height: 92px;
 }
 
 #navDiv{
     width:65px;
 }
 #placeholderIcon{
     font-family: FontAwesome;
     font-size: 22px;
 }
 
 .footer{
     font-size: 12px;
 }

 #optionsButton{
     background-color:#ebebeb;
 }

 ul {
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 2 2'><circle r='1' /></svg>");
  }

 @media (max-width: 991px) 
    {
	 h3,h4{
	 font-size:18px
     }
     
     h2{
         font-size: 16px;
     }
	 
	 p{
		 font-size:16px;
     }
     #navbarNavDropdown{
         width: 200px;
     }

     #navLink{
         width: 200px;
        height: 50px;
     }
    #navIcon{
        width: 50px;
        height: 50px;
     }

     #navDiv{
        width:0px;
    }

    .sidebar{
        width:265px;
        z-index: 1;
    }
    
    #menuIcon, #natureIcon{
        width: 65px;
        height: 83px;
    }

    #iconDiv{
        width:65px;
        height: 58px;
        text-align: center;
    }

    #natureIconDiv{
        height: 83px;
    }
    .nav_name{
        width:200px;
        height: 58px;
        background-color: cadetblue;
    }

    .searchInput{
        width:300px;
        height: 58px;
    }
 }
 