body{
    color:#606060;
 }

 .opacity-80{
    color: rgba(96, 96, 96, 0.8)
 }

 p{
     font-size: 18px;
     font-family: 'Source Sans Pro', sans-serif;     
 }
 
 #p16{
     font-size: 16px;
     font-family: 'Source Sans Pro', sans-serif;
 }

 .table{
     color:#606060;
 }
 
 #iconDiv{
     width:65px;
     height: 91px;
     text-align: center;
 }
 
 #menuIcon, #natureIcon{
     width: 65px;
     height: 91px;
 }

#toggle-button:focus{
    border: none!important;
    }

 .sidebar{
     z-index: 3;
 }
 
 .nav_name{
     width:400px;
     height: 91px;
 }
 
 .searchInput{
     width:465px;
     height: 91px;
 }
 
 .headerIcons{
     width:465px;
     height: 91px;
 }
 
 #navDiv{
     width:65px;
 }
 #placeholderIcon{
     font-size: 22px; 
 }
 
 .footer{
     font-size: 12px;
 }

 #optionsButton{
     background-color:#ebebeb;
 }


 .border-bottom{
    border-bottom: 2pt solid #7a7a7a;
 }

 .p21{
     font-size: 21px;
     font-family: 'Lato', sans-serif;
 }

 .p26{
     font-size: 26px;
     font-family: 'Lato', sans-serif;
 }
button, input{
    font-family:'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

#selectImageButton, #cancelButton, #settingsButton{
background-color: #ebebeb;
color:#606060;
}

#search{ 
    font-family:'Source Sans Pro', sans-serif;
    font-size: 20px;
}

  #userContainer{
    height: 800px;
  }
  
 @media (max-width: 991px) 
    {
	 p{
		 font-size:16px;
     }

     .p26{
         font-size: 18px;
     }
     #navbarNavDropdown{
         width: 200px;
     }

     #navLink{
        width: 200px;
        height: 50px;
     }
    #navIcon{
        width: 50px;
        height: 50px;
     }

     #navDiv{
        width:0px;
    }

    .sidebar{
        width:265px; 
        z-index: 3;
    }
    
    #menuIcon, #natureIcon{
        width: 65px;
        height: 89px;
    }

    #iconDiv{
        width:65px;
        height: 58px;
        text-align: center;
    }

    #natureIconDiv{
        height: 89px;
    }
    .nav_name{
        width:200px;
        height: 58px;
        background-color: cadetblue;
    }

    .searchInput{
        width:300px;
        height: 58px;
    }

    .text-truncate{
        max-width: 200px;
    }
    
  #userContainer{
    height: auto;
  }
 }